.card {
  width: 100%;  /* Change from max-width to width */
  border-radius: 10px;
  background-color: #fcf5e5;
  overflow: hidden;
  }

.card__title {
  font-family: "Poppins" Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.card__image {
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 16px 0;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}
