.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 24px;
  font-size: 16px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  line-height: 1.1;
  color: #212121;
  opacity: 0.7;
}

.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border: 1px solid #21212166;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  line-height: 1;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__close-btn {
  background: url(../images/close_button_icon.svg) no-repeat center / contain;
  color: #21212166;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__submit-btn {
  padding: 18px 58px;
  max-width: 156px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  font-family: poppins, sans-serif;
  line-height: 1;
}
.modal__submit-btn:hover {
  background-color: #212121;
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 350px) {
  .modal__submit-btn {
    width: 100%;
    max-width: none;
    padding: 18px 32px;
    margin: 0;
    border-radius: 8px;
    font-size: 16px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    font-family: poppins, sans-serif;
    line-height: 1;
    font-weight: 500;
    margin: 0;
  }

  .modal__label {
    color: #212121;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;
    font-family: poppins, sans-serif;
    line-height: 1.1;
  }
}
