.profile {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__avatar {
  border-radius: 7px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-btn {
  margin-top: auto;
  width: 127px;
  background-color: #fcf5e5;
  color: #212121;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.profile__edit-btn:hover {
  background-color: #969696;
  color: white;
  cursor: pointer;
}

.profile__edit-btn:hover img {
  filter: brightness(0) invert(1);
  opacity: 1;
  cursor: pointer;
}

.profile__add-btn {
  margin-top: auto;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
  width: 149px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile__add-btn:hover {
  background-color: #969696;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
    align-items: center;
    padding: 34px 0 20px;
  }
  .profile__avatar {
    width: 127px;
    height: 127px;
    margin-bottom: 26px;
  }
  .profile__name {
    text-align: center;
  }
  .profile__description {
    text-align: center;
    margin-bottom: 32px;
  }
  .profile__edit-btn {
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .profile__add-btn {
    margin: 0 auto;
    width: 100%;
  }
}
