.card {
  width: 100%; /* Change from max-width to width */
  border-radius: 10px;
  background-color: #fcf5e5;
  overflow: hidden;
  position: relative;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0 20px 0;
}

.card__image {
  border-radius: 8px;
  width: 100%;
  height: 413px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
}

.card__delete-btn {
  background-image: url(../images/delete_icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/delete_icon_hover.svg); /* Change to the lighter pink heart image */
  opacity: 1; /* Keep full opacity */
}

.card__like-btn {
  background-image: url(../images/heart_icon.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn_active {
  background-image: url(../images/like_button.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  background-image: url(../images/like_button_hover.svg); /* Change to the lighter pink heart image */
  opacity: 1; /* Keep full opacity */
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media screen and (min-width: 1280px) {
  .card__title {
    line-height: 1.2;
    font-size: 20px;
  }
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
  }
}
